<footer class="d-flex justify-content-center bg-dark py-3 mt-auto">
    <p class="text-white footer-text my-auto mx-5">&copy; [AppName] by Ivan Tan |
        <a href="#" title="Portfolio Website">Portfolio Website</a>
        <span> | </span>
        <a href="https://github.com/IvanTan02" title="Github Profile">GitHub</a>
        <span> | </span>
        <a href="https://www.linkedin.com/in/ivantan02/" title="LinkedIn Profile">LinkedIn</a>
    </p>
</footer>