<footer
  class="d-flex justify-content-center py-3 mt-auto"
  style="background-color: rgba(56, 0, 60, 0.9)"
>
  <p class="text-white footer-text my-auto mx-5">
    &copy; EPLCentral by Ivan Tan
    <a href="#" title="Portfolio Website"
      ><i class="fa-regular fa-address-book fa-lg ms-1" style="color: #ffffff"></i
    ></a>
    <a href="https://github.com/IvanTan02/football-web-app" title="Github Repo"
      ><i class="fa-brands fa-github fa-lg ms-2" style="color: #ffffff"></i
    ></a>
    <a href="https://www.linkedin.com/in/ivantan02/" title="LinkedIn Profile"
      ><i class="fa-brands fa-linkedin fa-lg ms-2" style="color: #ffffff"></i
    ></a>
  </p>
</footer>
